:root{
  --brand-color-light: #4D5AE5;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/*------------- HEADER------------ */
.header {
}
.header-logo {
  color: var(--brand-color-light) ;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.half-header-logo{
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}
.header-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}
.header-link:is(:hover,:focus)
{

}
.address-item {

}

/*------------- HERO------------ */
.hero {
 background-color: #2E2F42; 
}
.hero-title {
 
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff; 
}
.hero-btn {
  background: #4D5AE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #FFFFFF; 
}
/*------------- FEATURES------------ */
.features {
}
.features-title {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.features-list {
}

.features-list-item {
}

.features-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.features-text {
}
/*------------- WORK------------ */
.work {
}
.work-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.work-list {
}
.work-item {
}
/*------------- TEAM------------ */
.team {
  background-color: #F4F4FD;;
}
.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.team-list {
}
.team-member {
}
.team-member-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}
.team-member-prof {
}
/*------------- FOOTER------------ */
.footer{
  background-color: #2E2F42;
}
.footer-logo {
  color: var(--brand-color-light) ; 
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
}
.half-footer-logo{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #F4F4FD;
}
.footer-text {
  color: #E7E9FC;
}